* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #23252C;
}

.main-container {
  background: #1A1B21;
  max-width: 30%;
  height: 100%;
  margin: 3vh auto;
  border-radius: 0.75em;
}

.info {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  
}

.info--profile-pic {
  width: 100%;
  border-top-right-radius: 0.75em;
  border-top-left-radius: 0.75em;
}

.info--name {
  color: #FFFFFF;
  margin-top: 0.2em;
}

.info--title {
  color: #F3BF99;
  margin-top: 0.4em;
}

.info--website {
  color: #F5F5F5;
  margin-top: 0.5em;
}

.info--mailto {
  padding: 0.1em 1.5em;
  border-radius: 0.2em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #374151;
  font-size: 1.1rem;
}

.info--linkedin {
  padding: 0.1em 1.5em;
  border-radius: 0.2em;
  background-color: #5093E2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.info--btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1em;
}

.interests {
  margin-top: 1em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.about {
  margin-top: 2em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.about--title {
  margin-bottom: 0.3em;
  color:white
}

.about--content {
  margin-bottom: 0.3em;
  color:#DCDCDC;
}

.interests--title {
  margin-bottom: 0.3em;
  color:white
}

.interests--content {
  margin-bottom: 0.3em;
  color:#DCDCDC;
}

.footer {
  display: flex;
  background-color: #161619;
  margin-top: 1.5em;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}

.footer img {
  width: 70%;
  height: 85%;
}

.info--name, .info--title, .info--website {
  text-align: center;
}
@media (max-width: 700px){
  .info--btns {
    flex-direction: column;
    gap: 1em;
    width: 90%;
  }
  .info--name {
    font-size: 1.3rem;
  }
  .info--title {
    font-size: 1rem;
  }
  .info--website{
    font-size: 0.8rem;
  }
  .interests--title{
    font-size: 1rem;
  }
  .interests--content{
    font-size: 0.8rem;
  }
  .about--title{
    font-size: 1rem;
  }
  .about--content{
    font-size: 0.8rem;
  }
  .main-container {
    max-width: 85%;
  }
}

@media (max-width: 800px){
  .main-container {
    max-width: 90%;
  }
}